*.log
*.pot
*.pyc
__pycache__

.DS_Store

.env
venv/

.idea/

sessions/

media/preinvoices/

cameras/ai/Face/models/*
cameras/ai/Face/models/

models/

/db.sqlite3
db.sqlite3

passenger_wsgi.py

media/ticket_attachments/*

media/

passenger_wsgi.py